
.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Tomahawk
      .image.center-block
        =link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
        %p.caption
          =post.caption
        .text-center
          = link_to "Buy It", '/buyit',  { class: 'btn btn-success' }
          %br
